#contactPic{
    width: 25%;
    height: auto;
}

.menu{
background-color: transparent;
height: 70px;
}
.primary_menu{
display: block;
margin: 0px auto;
width: 980px;
height: 25px;
background-color: transparent;
}
.primary_menu ul{
list-style-type: none;
text-align: center;
}
.primary_menu ul li{
    display: inline-block;
    margin: 20px 30px;
}​