*{
    margin: 0;
    padding: 0;
    border: 0;
}
body{
    margin: 0px 0px 0px 0px;    
}

/*---Header---*/


.menu{
background-color: transparent;
height: 70px;
}
.primary_menu{
display: block;
margin: 0px auto;
width: 980px;
height: 25px;
background-color: transparent;
}
.primary_menu ul{
list-style-type: none;
text-align: center;
}
.primary_menu ul li{
    display: inline-block;
    margin: 20px 30px;
}

a:hover{
    color:#2d2e72;
}
.active {
    color: #2d2e72;
}
a{
    font-size: 25px;
    color: coral;
    font-family: 'Ubuntu', serif;
}

/*---Others---*/

#contactPic{
    width: 50%;
    display: block;
    margin: auto;
    text-align: center;
}
#name{
    margin-top: 25px;
    font-size: 55px;
    margin-bottom: 25px;
}
#info{
    display: block;
    margin: 5px;
    text-align: center;
}

#maps{
    width: 50%;
    height: 500px;
    display: block;
    margin: auto;
    text-align: center;
    margin-top: 35px;
    
}

p{
    margin-bottom: 5px;
}
h1{
    text-align: center;
    margin-top: 50px;
    font-family: 'Ubuntu', serif;
    
}

#footer{
    
    color: navy;
    font-size: 10px;
    text-align: left;
    font-family: 'Ubuntu', serif;

}




/*---Contact form---*/


.container {
	max-width:400px;
    align-content: center;
	width:100%;
	margin:0 auto;
	position:relative;
    
}

#contact {
	padding:25px;
	margin:50px 0;
    text-align: center;
}


#contact input[type="text"], #contact input[type="email"], #contact input[type="email"] ,#contact textarea {
	width:50%;
	border:2px solid #000080;
	background:#FFF;
	margin:0 0 5px;
	padding:10px;
    }

#SubmitContact{
    padding: 10px;
    background-color: white;
    border-radius: 25px;
    border: 2px solid #000080;
    
    
}



 