body{
    margin: 0px 0px 0px 0px;
    
}
header{
    background-image: url("/_images/My pictures/Matej Ondrejka homepage.jpg");
    height: 100vh;
    background-size: cover;
    background-color: lightblue;
    background-repeat: no-repeat;
    margin-bottom: 50px;
    margin-top: 0px;
}


h1{
    color: navy;
    font-size: 90PX;
    text-align:center;
}

h2{
    margin-top: 1.3em;
}

h3{
    font-size: 50px;
    text-align: center;
}
  
.menu{
background-color: transparent;
height: 70px;
}
.primary_menu{
display: block;
margin: 0px auto;
width: 980px;
height: 25px;
background-color: transparent;
}
.primary_menu ul{
list-style-type: none;
text-align: center;
}
.primary_menu ul li{
    display: inline-block;
    margin: 20px 30px;
}​

#subtext{
    text-align: center;
    margin: 100px 0px;
    overflow-y: scroll;
    
}

p{
    max-width: 600px;
    margin: 0 auto 20px;
}

a{
    font-size: 25px;
    color: white;
    
}

a:hover{
    color:#2d2e72;
}
b, strong {
    font-weight: 600;
}


.active {
    color: coral;
}
