*{
    margin: 0;
    padding: 0;
    border: 0;
    
}
body{
    margin: 0px 0px 0px 0px;    
}

/*---Header---*/

header{
    background-image: url("../_images/WebPics/Matej Ondrejka homepage.jpg");
    height: 100vh;
    background-size: cover;
    background-color: lightblue;
    background-repeat: no-repeat;
    margin-bottom: 0px;
    margin-top: 0px;
}
.menu{
background-color: transparent;
height: 70px;
}
.primary_menu{
display: block;
margin: 0px auto;
width: 980px;
height: 25px;
background-color: transparent;
}
.primary_menu ul{
list-style-type: none;
text-align: center;
}
.primary_menu ul li{
    display: inline-block;
    margin: 20px 30px;
}

a:hover{
    color:#2d2e72;
}
.active {
    color: #2d2e72;
}
a{
    font-size: 25px;
    color: coral;
    font-family: 'Ubuntu', serif;
    
    
}

/*---OtherStuff---*/


.HPtext {
    color: white;
    font-size: 700%;
    margin-top: 150px;
    font-family: 'Ubuntu', serif;
    text-align: center;
}

.centered{
    position: absolute;
    bottom: 0;
    text-align: center;
    width: 100%;
    

}
#subtext{
    font-size: 150%;
    font-family: 'Ubuntu', serif;

}


