/* REVIEW: try to get all styling in one CSS document, now you're repeating to much.
It's better to have one big CSS file which lives in the browser's cache, than
have to load multiple CSS files each time */
.menu{
background-color: transparent;
height: 70px;
}
.primary_menu{
display: block;
margin: 0px auto;
width: 980px;
height: 25px;
background-color: transparent;
}
.primary_menu ul{
list-style-type: none;
text-align: center;
}
.primary_menu ul li{
    display: inline-block;
    margin: 20px 30px;
}​
